<div class="row">
  <div class="col-lg-6">
	[% IF err_msg %]
	<div class="alert alert-dismissible alert-danger">
	  <button type="button" class="close" data-dismiss="alert" aria-label="close">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	  </button>
	  <strong>[% alert_title %]</strong><p>[% err_msg %]</p>
	</div>
	[% ELSIF success_msg %]
	<div class="alert alert-success">
	  <strong>[% alert_title %]</strong><p>[% success_msg %]</p>
	</div>
	[% END %]
  </div>
</div>
