<div class="container">
  <!-- page tile -->
  <div class="page-header">
    <h1 id="title">Injections</h1>
  </div>
  <div id="content"  class="container-fluid"  role="main">

    <a class="btn btn-primary js-show-get-inj-form" href="#">Find</a>
    <a class="btn btn-primary js-show-add-inj-form" href="#">Add</a>
  
    [% alert_title = 'Injection Search' %]
    [% IF err_msg or success_msg %]
      [% INCLUDE alert.tt %]
    [% END %]

    [% INCLUDE get_injections
        get_injections_url = get_injections_url
    %]

    [% INCLUDE add_injection
        add_injection_url = add_injection_url
    %]
  </div>
</div> <!-- / container -->

[% BLOCK get_injections %]
<div id="get_inj_form" class="hidden_div">
  <div class="row" id="get_injections">
    <div class="col-lg-12">
      <form role="form" action="[% get_injections_url %]" method="get">
        <fieldset>
          <legend>Retrieve Injections</legend>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="input_inj_name" class="control-label">Injection Name/Number</label>
              <input class="form-control" id="input_inj_name" placeholder="380" type="text" name="inj_name">
            </div>
            <div class="form-group col-md-6">
              <label for="input_date" class="control-label">Date</label>
              <input class="form-control" id="input_date" placeholder="2015-12-15" type="text" name="date">
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Get Injections</button>
          </div>
        </fieldset>
      </form>
    </div> <!-- /col -->
  </div> <!-- /row -->
</div>
[% END %]


[% BLOCK add_injection %]
<div id="add_inj_form" class="hidden_div">
  <div class="row" id="add_injection">
    <div class="col-lg-12">
      <form role="form" action="[% add_injection_url %]" method="post">
        <fieldset>
          <legend>Add Injections</legend>
          <div class="row">
            <div class="form-group col-md-3">
              <label for="input_inj_name" class="control-label">Name:</label>
              <input class="form-control" id="input_inj_name" placeholder="380" type="text" name="inj_name" required>
            </div>
            <div class="form-group col-md-3">
              <label for="input_cas9" class="control-label">Cas9:</label>
              <select class="form-control" id="input_cas9" type="text" name="cas9" required>
                [% FOREACH cas9_prep IN cas9_preps %]
                <option value="[% cas9_prep.name %]">[% cas9_prep.name %]</option>
                [% END %]
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="input_cas9_conc" class="control-label">Cas9 conc:</label>
              <input class="form-control" id="input_cas9_conc" placeholder="200" type="text" name="cas9_conc" required>
            </div>
            <div class="form-group col-md-3">
              <label for="input_date" class="control-label">Date:</label>
              <input class="form-control" id="input_date" placeholder="2015-01-22" type="date" name="date" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label for="input_line_inj" class="control-label">Line Inj:</label>
              <input class="form-control" id="input_line_inj" placeholder="H1851" type="text" name="line_inj" required>
            </div>
            <div class="form-group col-md-3">
              <label for="input_line_raised" class="control-label">Line Raised:</label>
              <input class="form-control" id="input_line_raised" placeholder="MR3456" type="text" name="line_raised">
            </div>
            <div class="form-group col-md-3">
              <label for="input_sgrnas" class="control-label">sgRNAs:</label>
              <input class="form-control" id="input_sgrnas" placeholder="19_A01,19_B01" type="text" name="sgrnas" required>
            </div>
            <div class="form-group col-md-3">
              <label for="input_sgrnas_conc" class="control-label">sgRNAs conc:</label>
              <input class="form-control" id="input_sgrnas_conc" placeholder="10" type="text" name="sgrnas_conc" required>
            </div>
          </div>
          <div class="form-group">
            <div>
              <button type="submit" class="btn btn-primary">Add Injection</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div> <!-- /col -->
  </div> <!-- /row -->
</div>
  [% IF injection %]
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped" id="injection-table">
        <caption>Injections</caption>
        <thead>
          <th>Pool Name</th>
          <th>Date</th>
          <th>Line Injected</th>
          <th>Line Raised</th>
        </thead>
        <tbody>
        <tr class="">
          <td>[% injection.pool_name %]</td>
          <td>[% injection.date %]</td>
          <td>[% injection.line_injected %]</td>
          <td>[% injection.line_raised %]</td>
        </tr>
        </tbody>
      </table>
    </div> <!-- /col -->
  </div> <!-- /row -->
  [% END %]
[% END %]
