  <div class="container">
    <!-- page tile -->
    <div class="page-header">
      <h1 id="title">MiSeq Analysis</h1>
    </div>
    [% alert_title = 'MiSeq Search' %]
    [% IF err_msg or success_msg %]
      [% INCLUDE alert.tt %]
    [% END %]
    <div id="get-miseq-form"  class="container-fluid"  role="main">
      <div class="row">
        <form class="form-horizontal col-lg-6" action="[% get_miseq_url %]" method="get">
          <fieldset>
            <legend>Retrieve MiSeq results</legend>
            <div class="form-group">
              <label for="inputMiSeqID" class="col-lg-3 control-label">MiSeq/Run ID</label>
              <div class="col-lg-9" >
                <input class="form-control" id="inputMiSeqID" placeholder="miseq29 18267" type="text" name="miseq_run_id">
                <button type="submit" class="btn btn-primary">Get MiSeq</button>
              </div>
            </div>
          </fieldset>
        </form>
        <form class="form-horizontal col-lg-6" action="[% add_miseq_url %]" method="post">
          <fieldset>
            <legend>Add a New MiSeq run</legend>
            <div class="form-group">
              <label for="inputRunID" class="col-lg-2 control-label">Run ID</label>
              <div class="col-lg-10">
                <input class="form-control" id="inputRunID" placeholder="18267" type="text">
                <button type="submit" class="btn btn-primary">Add MiSeq</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div id="miseq-info">
      [% IF plex %]
        [% INCLUDE show_miseq.tt %]
      [% END %]
    </div>
  </div> <!-- / container -->
