<div class="container">
  <!-- page tile -->
  <div class="page-header">
    <h1 id="title">Crispr/Cas9 sgRNAs</h1>
  </div>
  <div id="content"  class="container-fluid"  role="main">
  </div>
</div> <!-- / container -->
