<div class="container">
  <!-- page tile -->
  <div class="page-header">
    <h1 id="title">Crispr/Cas9 sgRNAs</h1>
  </div>
  <div id="content"  class="container-fluid"  role="main">
    <div class="row">
      <div class="col-lg-6">
        [% IF err_msg %]
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          <strong>Retrieve sgRNAs</strong><p>[% err_msg %]</p>
        </div>
        [% END %]
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <form class="form-horizontal" action="[% get_sgrnas_url %]" method="get">
          <fieldset>
            <legend>Retrieve Crisprs</legend>
            <div class="form-group">
              <label for="input_plate_number" class="col-lg-3 control-label">Plate Number</label>
              <div class="col-lg-9" >
                <input class="form-control" id="input_plate_number" placeholder="19" type="text" name="plate_number">
              </div>
            </div>
            <div class="form-group">
              <label for="input_well" class="col-lg-3 control-label">Well</label>
              <div class="col-lg-9" >
                <input class="form-control" id="input_well" placeholder="A01" type="text" name="well">
              </div>
            </div>
            <div class="form-group">
              <label for="input_crRNA_name" class="col-lg-3 control-label">Crispr Name</label>
              <div class="col-lg-9" >
                <input class="form-control" id="input_crRNA_name" placeholder="crRNA:1:101-123:1" type="text" name="crRNA_name">
              </div>
            </div>
            <div class="form-group">
              <label for="input_target" class="col-lg-3 control-label">Target</label>
              <div class="col-lg-9" >
                <input class="form-control" id="input_target" placeholder="ENSDARE.. ENSDARG.. slc45a2" type="text" name="target">
              </div>
            </div>
            <div class="form-group">
              <label for="input_requestor" class="col-lg-3 control-label">Requestor</label>
              <div class="col-lg-9" >
                <input class="form-control" id="input_requestor" placeholder="" type="text" name="requestor">
              </div>
            </div>
            <div class="form-group">
              <label for="input_status" class="col-lg-3 control-label">Status</label>
              <div class="col-lg-9" >
                <select class="form-control" id="input_status" name="status">
                  <option>REQUESTED</option>
                  <option>DESIGNED</option>
                  <option>ORDERED</option>
                  <option>MADE</option>
                  <option>INJECTED</option>
                  <option>MISEQ_EMBRYO_SCREENING</option>
                  <option>PASSED_EMBRYO_SCREENING</option>
                  <option>FAILED_EMBRYO_SCREENING</option>
                  <option>SPERM_FROZEN</option>
                  <option>MISEQ_SPERM_SCREENING</option>
                  <option>PASSED_SPERM_SCREENING</option>
                  <option>FAILED_SPERM_SCREENING</option>
                  <option>SHIPPED</option>
                  <option>SHIPPED_AND_IN_SYSTEM</option>
                  <option>IN_SYSTEM</option>
                  <option>CARRIERS</option>
                  <option>F1_FROZEN</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-9 col-lg-offset-3">
                <button type="submit" class="btn btn-primary">Get Crisprs</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div> <!-- /col -->
    </div> <!-- /row -->
  </div> <!-- / container -->
</div> <!-- / container -->
