<div class="container">
  <!-- page tile -->
  <div class="page-header">
    <h1 id="title">Crispr/Cas9 §s</h1>
  </div>
  <div id="content"  class="container-fluid"  role="main">
    <div class="row">
      <table class="table table-striped" id="target-table">
          <caption>sgRNAs</caption>
          <thead>
            <th>crRNA Name</th>
            <th>Sequence</th>
            <!-- <th>Gene ID</th>
            <th>Gene Name</th> -->
            <th>Status</th>
            <th>Status Changed</th>
          </thead>
          <tbody>
          [% FOREACH crRNA IN crRNAs %]
          <tr class="[% crRNA.status %]">
            <td><a href="[% sgrna_url %]/[% crRNA.id %]" id="[% crRNA.crRNA_name %]" >[% crRNA.crRNA_name %]</a></td>
            <td>[% crRNA.sequence %]</td>
            <td>[% crRNA.status %]</td>
            <td>[% crRNA.status_changed %]</td>
          </tr>
          [% END %]
          </tbody>
        </table>
    </div>
  </div> <!-- / container -->
</div>
