<div class="container">
  <!-- page tile -->
    <div class="page-header">
      <h1 id="title">MiSeq Results</h1>
    </div>
    <div id="content"  class="container-fluid"  role="main">
      <div class="row">
        <table class="table table-striped" id="target-table">
            <caption>sgRNAs</caption>
            <thead>
              <th>Plex Name</th>
              <th>Run ID</th>
              <th>Started</th>
              <th>Finished</th>
            </thead>
            <tbody>
              <tr>
                <td>[% plex.plex_name %]</td>
                <td>[% plex.run_id %]</td>
                <td>[% plex.started %]</td>
                <td>[% plex.finished %]</td>
              </tr>
            </tbody>
          </table>
      </div> <!-- /row -->
  </div> <!-- / container -->
</div> <!-- / container -->
