<div class="container">
  <!-- page tile -->
  <div class="page-header">
    <h1 id="title">Crispr/Cas9 sgRNAs</h1>
  </div>
  <div id="content"  class="container-fluid"  role="main">
    <div class="row">
      <table class="table table-striped" id="target-table">
          <caption>sgRNAs</caption>
          <thead>
            <th>crRNA Name</th>
            <th>Plate</th>
            <th>Well</th>
            <th>Status</th>
            <th>Status Changed</th>
            <th>Gene ID</th>
            <th>Gene Name</th>
            <th>Requestor</th>
          </thead>
          <tbody>
          [% FOREACH crRNA IN crRNAs %]
          <tr class="[% crRNA.status %]">
            <td><a href="[% sgrna_url %]/[% crRNA.crRNA_id %]" id="[% crRNA.name %]" >[% crRNA.name %]</a></td>
            <td>[% crRNA.well.plate_name %]</td>
            <td>[% crRNA.well.position %]</td>
            <td>[% crRNA.status %]</td>
            <td>[% crRNA.status_changed %]</td>
            <td>[% crRNA.target.gene_id %]</td>
            <td>[% crRNA.target.gene_name %]</td>
            <td>[% crRNA.target.requestor %]</td>
          </tr>
          [% END %]
          </tbody>
        </table>
    </div>
  </div> <!-- / container -->
</div>
