/* <footer> make a solid grey border above with some padding */
footer{
  padding-top: 10px;
  border-top: 1px solid #eeeeee;
}

.well {
  background: white;
}

.hidden_div{
	display:none;
}

.unhidden_div{
	display:block;
}

