/* <footer> make a solid grey border above with some padding */
footer{
  padding-top: 10px;
  border-top: 1px solid #eeeeee;
}

.well {
  background: white;
}

/*.well-sgRNA {
  background: #fcf8e3;
}

.well-primer {
  background: #ffddcc;
}
*/
.hidden_div{
	display:none;
}


